body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 40px;
    background-color: #f9f9f9;
}

h1 {
    color: #0066cc;
    text-align: center;
}

h2 {
    color: #0066cc;
    text-align: center;
}